
	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/banner-bg.jpg">
				<div class="tag-new">NOVOS</div>
				<span>TENDÊNCIA</span>
				<h2>CAMISAS LISTRADAS</h2>
				<a href="#" class="site-btn">COMPRE AGORA</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->