	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="/" class="site-logo">
							<img src="/img/logo.png" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Procurar na ItaShop ....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a href="#">Entrar</a> or <a href="#">Criar Conta</a>
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span>0</span>
								</div>
								<a href="#">Carrinho</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container text-center">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="/"><span class="new">new</span>Novidades</a></li>
					{{#each categorias}}
					<li><a href="/categoria/{{id}}/{{slug}}">{{categoria}}</a></li>
					{{/each}}
					<li><a href="#">Contato</a></li>
					<li><a href="#">Sobre Nós</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->