	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Novidades</span>
							<h2>Jaquetas Jeans</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">Descobrir</a>
							<a href="#" class="site-btn sb-white">Adicionar ao Carrinho</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>por</span>
						<h2>R$75</h2>
						<p>Compre Agora</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Novidades</span>
							<h2>Jaquetas Jeans</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">Descobrir</a>
							<a href="#" class="site-btn sb-white">Adicionar ao Carrinho</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>de</span>
						<h2>R$75</h2>
						<p>Compre Agora</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->